# Arquivos de ambiente virtual
venv/
venv/*.*
venv*/
venv*/*.*

# Arquivos de cache e logs
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
logs/

# Arquivos de configuração local
instance/
.env

# Arquivos específicos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de banco de dados
*.db
migrations/
migrations/*.*
migrations*/
migrations*/*.*