.box {
    position:sticky;
    width: 50%;
    color: black;
    text-align: left;
}

fieldset {
    border: none;
}

.legend {
    border: none;
    color: black;
    font-size: 30px;
    text-align: left;
    margin: 81px 80px 20px 90px;
}

p {
    margin: 0px 80px;
    font-size: 15px;
}

input[type="text"],
input[type="date"],
input[type="email"],
textarea {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px 80px;
    resize: vertical;
    font-size: 20px;
    outline: none;
}

input[type="radio"] {
    margin: 10px 10px 10px 80px;
}

#enviar {
    background-color:  #e85a4f;
    width: 50%;
    padding: 10px;
    color: black;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
    margin: 0px 24%;
    border-radius: 5px;
}

#enviar:hover {
    background-color: #e43023;
}

.box2 {
    position: absolute;
    width: 50%;
    right: 0px;
    top: 61px;
}

.flavor_big {
    color: black;
    font-weight: bold;
    font-size: 35px;
    text-align: right;
    margin: 70px 80px 30px 85px;
}

.flavor_forms {
    color: black;
    font-size: 15px;
    text-align: center;
    margin: 0px 80px;
}

.flavor_logo {
    margin-top: 50px;
}

/* https://visme.co/blog/website-color-schemes/
  Minimal e Warm: EAE7DC D8C3A5 8E8D8A E98074 E85A4F

  Gorgeous Contrast 61892F 86C232 222629 474B4F 6B6E70

  Rose Red 4285F4 5C2018 BC4639 D4A59A F3E0DC