body {
    height: 1300px;
}

.box {
    position:sticky;
    left: 25%;
    background-color: #F3E0DC;
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    margin: 70px 0px;
    color: black;
}

fieldset {
    border: 5px solid rgba(0, 1, 2, 0.311);
    border-radius: 5px;
}

legend {
    border: 2px solid rgba(0, 1, 2, 0.411);
    padding: 10px;
    text-align: center;
    background-color: rgba(122, 180, 241, 0.311);
    border-radius: 5px;
    color: black;
    font-size: 30px;
}

.inputbox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 2px solid rgba(0, 1, 2, 0.311);
    outline: none;
    font-size: 20px;
    width: 85%;
    letter-spacing: 1px;
}

.caixat {
    width: 85%;
    resize: none;
    height: 75px;
}

#enviar {
    background-image: linear-gradient(to right, rgb(2, 91, 255), #e85a4f);
    width: 100%;
    border: 5px black;
    padding: 20px;
    color: black;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold
}

#enviar:hover {
    background-image: linear-gradient(to right, #e43023, rgba(111, 0, 255, 0.795));
}

/* https://visme.co/blog/website-color-schemes/
  Minimal e Warm: EAE7DC D8C3A5 8E8D8A E98074 E85A4F

  Gorgeous Contrast 61892F 86C232 222629 474B4F 6B6E70

  Rose Red 4285F4 5C2018 BC4639 D4A59A F3E0DC