body{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }

  ul {
      list-style-type: none;
      margin: 0px;
      margin-bottom: 5px;
      padding: 0px;
      border: none;
      border-bottom: solid;
      border-width: 1px;
      border-color: black;
      overflow: hidden;
      background-color: #333;
      position: relative;
      top: 0px;
      left: 0px;
    }

    .gradient1 {
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to left, black, transparent);
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .container img{
      float: left;
      max-width:500px;
      max-height:61px;
      width: auto;
      height: auto;
    }
    
    li {
      float: left;
      border-right: 1px solid #bbb;
      font-family: monospace;
      font-size: 25px;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px 18px;
      text-decoration: none;
    }
  
    li a:hover {
      background-color: #111;
    }

    .footer {
      display: grid;
      border: none;
      border-top: solid;
      border-width: 1px;
      border-color: black;
      background-color: #333;
      position: absolute;
      bottom: 0;
      height: 60px;
      width: 100%;
      text-align: right;
      font-size: 20px;
      align-items: center;
      color: whitesmoke;
      font-size: large;
      z-index: 3;
    }

    .footer_banner {
      height: 250px;
      width: 100%;
      position: absolute;
      bottom: 0;
      right: auto;
      z-index: 2;
    }

    .gradient2 {
      height: 100%;
      width: 100%;
      background-image: linear-gradient(90deg, black, transparent);
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .footer_banner img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: left;
    }

    .texto_footer {
      position: absolute;
      top: 50%;
      left: 15%;
      transform: translate(-50%, -50%);
      color: #f1f1f1;
      font-size: 20px;
      text-align: left;
    }
    