.fa-sun {
    color: #eae7dc;
    padding: 0px;
    border: none;
    float: right;
    font-size: 30px;
    margin: 15.5px;
  }

body {
    background-color: #F8F7F4;
    color: #333333;
}

ul {
    background: #282828;
}

.container :hover {
    background-color: rgb(27, 25, 25);
}

li {
    border-right: #f1f1f1;
}

li a {
    color: #eae7dc;
}

li a:hover {
    background-color: rgb(27, 25, 25);
}

.fa-sun {
    color: yellow;
}