.fa-moon {
    color: #eae7dc;
    padding: 0px;
    border: none;
    float: right;
    font-size: 30px;
    margin: 15.5px;
  }

body {
    background-color: red;
    color: blueviolet;
}

ul {
    background: purple;
}

.container :hover {
    background-color: aqua;
}

li {
    border-right: azure;
}

li a {
    color: aliceblue;
}

.fa-sun {
    color: yellow;
}

li a:hover {
    background-color: blanchedalmond;
}