input[type="text"],
input[type="email"],
textarea {
    border: #ccc;
}

input[type="text"]:hover, input[type="email"]:hover {
    background-color: #d3d3d3;
}

input[type="button"] {
    background-color: #e85a4f;
}

input[type="button"]:hover {
    background-color: #e43023;
}

input[value="Enviar"]{
    color: white;
}

.fa-mobile,
.fa-map-marker,
.fa-envelope {
    color: #333333;
}