{% extends 'Universal.html' %}

{% block conteudo %}
    
    <title>Contato</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='ContatoCSS.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='Modos/Claro/ClaroContato.css')}}" id="temas">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!-- Modo Escuro/claro -->

    <button class="muda_tema">Mudar Tema</button>

    <script>
    const botao = document.querySelector(".muda_tema");
    const tema = document.querySelector("#temas");
    botao.addEventListener("click", function() {
        if (tema.getAttribute("href") == "{{ url_for ('static', filename='Modos/Claro/ClaroContato.css')}}") {
            tema.href = "{{ url_for ('static', filename='Modos/Escuro/EscuroContato.css')}}";
        } else {
            tema.href = "{{ url_for ('static', filename='Modos/Claro/ClaroContato.css')}}";
        }
    });
    </script>

    <main>
        <!--Container 1-->
        <div class="container1">
            <h2>Fale Conosco</h2>
            <h6>Tem alguma dúvida, sugestão ou reclamação?</h6>
            <h6>Deixe um recado!</h6>
            <form action="/Contato" method="POST">
              <fieldset>
                <input type="text" id="nome" placeholder="Nome" name="nome" required>
                <input type="text" id="telefone" placeholder="Telefone" name="telefone" required>
                <input type="email" id="email" placeholder="E-mail" name="email" required>
                <input type="text" id="endereco" placeholder="Endereço" name="endereco" required>
                <input type="text" id="estado" placeholder="Estado" name="estado" required>
                <input type="text" id="cidade" placeholder="Cidade" name="cidade" required>
                <textarea id="mensagem" placeholder="Mensagem" name="mensagem" rows="5" required></textarea>
                <input type="submit" value="Enviar">
            </fieldset>
            </form>
        </div>
        <!--Container 2-->
        <div class="container2">
            <div>
                <i class="fa fa-envelope"> <span>E-MAIL</span></i>
            </div>
                <span>autoitapecas@gmail.com</span>
            <div>
                <i class="fa fa-mobile"> <span>TELEFONE</span></i> 
            </div>
                <span>(15)3531-2467</span>
            <div>
                <i class="fa fa-map-marker"> <span>ENDEREÇO</span></i>
            </div>
                <span>Rua Frei Caneca Nº2455 Esquina com a Rua Tiradentes Centro, <br>
                      Itararé - SP - CEP: 18460-000</span>

            <br>

            <div class="map-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3518.4537139293075!2d-49.32952002480094!3d-24.110572178426278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c3b5f6a28ec07f%3A0x4cf8486566ac28c1!2sAutoIta%20Pe%C3%A7as%20e%20Acess%C3%B3rios!5e1!3m2!1spt-BR!2sbr!4v1710124100541!5m2!1spt-BR!2sbr"
                    width="700" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" width="100%" height="100%" frameborder="0"
                    style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                </iframe>
            </div>
        </div>
    </main>

{% endblock %}