{% extends 'Universal.html' %}

{% block conteudo %}
    
    <title>Formulário</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='FormsCSS.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='Modos/Claro/ClaroForms.css')}}" id="temas">

<!-- Modo Escuro/claro -->

    <button class="muda_tema">Mudar Tema</button>

    <script>
    const botao = document.querySelector(".muda_tema");
    const tema = document.querySelector("#temas");
    botao.addEventListener("click", function() {
        if (tema.getAttribute("href") == "{{ url_for ('static', filename='Modos/Claro/ClaroForms.css')}}") {
            tema.href = "{{ url_for ('static', filename='Modos/Escuro/EscuroForms.css')}}";
        } else {
            tema.href = "{{ url_for ('static', filename='Modos/Claro/ClaroForms.css')}}";
        }
    });
    </script>

    <div class="box">
        <form action="/Forms" method="POST">
            <fieldset>
                <h1><b>Cadastro Concorrente à Vaga</b></h1>
                
                <p><b>Nome Completo</b></p>
              
                    <input type="text" name="nome_c" id="nome_c" class="inputUser" required>

                <p><b>Email</b></p>
                <input type="email" name="email" id="email" class="inputUser" required>
                
                <p><b>Telefone</b></p>
                    <input type="text" name="telefone" id="telefone" class="inputUser" required>
                
                <p><b>Endereço</b></p>
                    <input type="text" name="endereco" id="endereco" class="inputUser" required>
                
                <p><b>Objetivo</b></p>
                <textarea type="text" name="objetivo" id="objetivo" cols="90" rows="5" class="inputUser"></textarea>

                <p><b>Formação Acadêmica/Cursos</b></p>
                <textarea type="text" name="formação" id="formação" cols="90" rows="5" class="inputUser"></textarea>
                
                <p><b>Experiência profissional</b></p>
                <textarea type="text" name="experiencia" id="experiencia" cols="90" rows="5" class="inputUser"></textarea>
                
                <br><br>

            <input type="submit" name="enviar" id="enviar" value="Enviar">

        </fieldset>
    </form>
</div>

    <div class="box2">
        <h1> Nossos Valores </h1>
        <div class="flavor_forms"> 
                Na AutoIta, somos uma loja de peças e acessórios automotivos, e também uma empresa familiar, valorizamos a excelência no atendimento, a qualidade dos produtos e o respeito mútuo.
         <br>   Esperamos que nosso funcionários sejam dedicados ao seu trabalho, proativos e comprometidos, buscando sempre superar as expectativas dos clientes. Priorizamos o trabalho em equipe, a comunicação aberta e um ambiente de trabalho saudável.
         <br>   Como uma empresa familiar, prezamos pela tradição, por relações sólidas e um ambiente harmonioso, valorizamos ética, transparência e dedicação em tudo o que fazemos, assim buscamos excelência e crescimento contínuo. Se junte a equipe e podemos alcançar novos patamares na AutoIta!

        <div class="flavor_logo">
            <img src="{{ url_for ('static', filename='Imagens/logo_autoita-semfundo.png')}}" alt="Logo_Autoita">
        </div>
        </div>
    </div>

{% endblock %}